@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  color: #1A1A1A;
  font-family: 'Inter', sans-serif;
}